.bg-cover {
    background-image: url("../images/wallpaper.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    background-color: rgb(243, 236, 225);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

input {
    margin-bottom: 10px;
}

img {
    max-width: 500px;
    max-height: 200px;
    margin: auto;
}