
.center-me {
    display: flex;
    justify-content:center;
    padding: 40px;
    text-align: "center";
}

#prof-display {
    display:block;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    border-radius: 75%;
}

#uname-style {
    font-size: 20px;
    font-family: "Lucidia Console", Courier, monospace;
    font-weight: bold;
}

